<mat-card >
    
    
        <form [formGroup]="bikeForm" style="display: inline-block;">
            <label>
                Name:
                <input type="text" formControlName="name" >
            </label>  
            <label>
                Type:
                <select placeholder="select type..." >
                    <option *ngFor="let t of enumKeys" [value]="t">
                        {{bikeType[t]}}
                    </option>
                </select>
            </label>  
            <label>
                Price:
                <input type="number" formControlName="name">
            </label>
            <div>

                <button class="btn btn-success">
                    Add new Bike
                </button> 
            </div>
        </form>
    </mat-card>